
p#zotero_ref_footer {
    font-size: x-small;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

span#zotero_ref_footer {
    font-size: x-small;
    margin-top: 0px;
    margin-bottom: 0px;
}

a#zotero_ref_footer {
    text-decoration: none;
}

#div_zotero_ref_footer {
    margin-top: 0px;
    margin-bottom: 0px;
}

#zotero_ref_footer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 8px;
    line-height: 1em;
}

.zotero-ref-detail {
    border: 1px red dotted;
}

.zotero_ref_author {
    color: darkgrey;
}


