
#zotero_notes_footer {
    margin-left: 2px;
    font-size: x-small;
    line-height: 1.2em;
    margin-top: 0px;
}

#zotero_notes_footer a {
    text-decoration: none;
}

#zotero_notes_footer ol {
    display: block;
    margin-left: 2px;
}

#zotero_notes_footer ol li {
    list-style: decimal;
    list-style-position: outside;
    margin-bottom: 8px;
    margin-left: 4em;
    margin-right: 2em;
}

.zotero_notes_author {
    color: darkgrey;
}

.sup-ref-note {
    font-size:9px;
    border: none;
    margin-left: 1px;
}

a.sup-ref-note {
    text-decoration: none;
    border: none;
}

